.agentTitle {
color: var(--ant-color-text-secondary);
}

.container {
padding-block: 12px;
border-radius: var(--ant-border-radius);
}

.taskContent {
padding-block: 8px;
padding-inline: 12px;
border-radius: var(--ant-border-radius);
background: var(--ant-color-fill-tertiary);
}

.timeout {
font-size: 12px;
color: var(--ant-color-text-tertiary);
}
