.actionBar {
display: flex;
align-items: center;
justify-content: space-between;
padding-block-start: 16px;
}

.bottom {
display: flex;
flex-direction: column;
gap: 16px;

width: 100%;
max-width: 1024px;
}

.webhookBox {
overflow: hidden;
flex: 1;

height: var(--ant-control-height);
padding-inline: 12px;
border: 1px solid var(--ant-color-border);
border-radius: var(--ant-border-radius);

font-family: monospace;
font-size: 13px;
line-height: var(--ant-control-height);
color: var(--ant-color-text-secondary);
text-overflow: ellipsis;
white-space: nowrap;

background: var(--ant-color-fill-quaternary);
}
