.actions {
position: absolute;
z-index: 10;
inset-block-start: -4px;
inset-inline-end: -4px;

border-radius: 5px;

background: var(--ant-color-bg-elevated);
box-shadow:
  0 0 0 0.5px var(--ant-color-fill-secondary) inset,
  var(--ant-box-shadow-tertiary);
}

.container {
user-select: none;

position: relative;

width: 180px;
height: 64px;
border-radius: 8px;
}

.image {
margin-block: 0 !important;
}

.status {
&.ant-tag {
  padding-inline: 0;
  background: none;
}
}
