.avatarGroup {
display: flex;
gap: 2px;
align-items: center;
}

.count {
font-size: 12px;
color: var(--ant-color-text-secondary);
}

.root {
overflow: hidden;
display: flex;
gap: 8px;
align-items: center;
}

.statusIcon {
flex-shrink: 0;
margin-block-end: -2px;
}

.title {
flex-shrink: 0;
color: var(--ant-color-text-secondary);
white-space: nowrap;
}
