.chip {
overflow: hidden;
display: inline-flex;
flex-shrink: 1;
align-items: stretch;

min-width: 0;
margin-inline-start: 6px;
border-radius: 999px;

font-size: 12px;
line-height: 18px;

background: var(--ant-color-fill-tertiary);
}

.chipAction {
flex-shrink: 0;
padding-block: 2px;
padding-inline: 10px;
color: var(--ant-color-text);
}

.chipDivider {
flex-shrink: 0;
align-self: stretch;
width: 1px;
background: var(--ant-color-border-secondary);
}

.chipKey {
color: var(--ant-color-text-description);
}

.chipValue {
overflow: hidden;
display: inline-flex;
flex-shrink: 1;
gap: 4px;
align-items: center;

min-width: 0;
padding-block: 2px;
padding-inline: 10px;

font-family: var(--ant-font-family-code);
color: var(--ant-color-text);
}

.chipValueText {
overflow: hidden;
min-width: 0;
text-overflow: ellipsis;
white-space: nowrap;
}

.icon {
flex-shrink: 0;
margin-inline-end: 6px;
color: var(--ant-color-text-description);
}

.productPrefix {
flex-shrink: 0;

margin-inline-end: 2px;

font-size: 13px;
font-weight: 500;
color: var(--ant-color-text-secondary);
}
