.container {
display: inline-flex;
flex-direction: row;
gap: var(--dots-loading-gap);
align-items: center;
}

.dot {
width: var(--dots-loading-size);
height: var(--dots-loading-size);
border-radius: 50%;

background-color: var(--dots-loading-color);

animation: dots-loading-fade 1.2s ease-in-out infinite;

@keyframes dots-loading-fade {
  0%,
  100% {
    opacity: 0.3;
  }

  50% {
    opacity: 1;
  }
}
}
