.dropZone {
position: relative;
height: 100%;
}

.dropZoneActive {
background: var(--ant-color-primary-bg);
outline: 1px dashed var(--ant-color-primary-border);
outline-offset: -4px;
}

.header {
min-width: 1040px;
height: 40px;
min-height: 40px;
color: var(--ant-color-text-description);
}

.headerItem {
height: 100%;
padding-block: 6px;
padding-inline: 0 24px;
}

.scrollContainer {
overflow: auto hidden;
flex: 1;
}

.selectAllHint {
position: sticky;
z-index: 1;
inset-block-start: 40px;

min-width: 1040px;
padding-block: 8px;
padding-inline: 16px;
border-block-end: 1px solid var(--ant-color-border-secondary);

font-size: 12px;
color: var(--ant-color-text-description);

background: var(--ant-color-fill-tertiary);
}
