.body {
overflow-y: auto;
flex: 1;
padding-block: 4px;
padding-inline: 8px;
}

.header {
display: flex;
flex-shrink: 0;
gap: 8px;
align-items: center;
justify-content: space-between;

height: 42px;
padding-inline: 16px;
border-block-end: 1px solid var(--ant-color-border-secondary);
}

.root {
overflow-y: auto;
display: flex;
flex-direction: column;

width: 300px;
min-width: 260px;
border-inline-end: 1px solid var(--ant-color-border-secondary);
}
