.footer {
min-height: 320px;
padding-block-start: 32px;

background-repeat: no-repeat;
background-position: center bottom;
background-size: 512px auto;
}

.footer_dark {
background-image: url('/images/community_footer_dark.webp');
background-blend-mode: screen;
}

.footer_light {
background-image: url('/images/community_footer_light.webp');
background-blend-mode: multiply;
}
