.actionTitle {
margin-block-start: 12px;
font-size: 16px;
color: var(--ant-color-text-secondary);
}

.card {
cursor: pointer;

position: relative;

overflow: hidden;

width: 200px;
height: 140px;
border-radius: var(--ant-border-radius-lg)px;

font-weight: 500;
text-align: center;

background: var(--ant-color-fill-tertiary);
box-shadow: 0 0 0 1px var(--ant-color-fill-tertiary) inset;

transition: background 0.3s ease-in-out;

&:hover {
  background: var(--ant-color-fill-secondary);
}
}

.glow {
position: absolute;
inset-block-end: -12px;
inset-inline-end: 0;

width: 48px;
height: 48px;

opacity: 0.5;
filter: blur(24px);
}

.icon {
border-radius: var(--ant-border-radius-lg)px;
color: var(--ant-color-text-light-solid);
}

.iconGroup {
margin-block-start: -44px;
}
