.grid {
display: grid;
gap: 12px;
grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));

@media (max-width: 640px) {
  grid-template-columns: 1fr;
}
}

.filterEmpty {
align-items: center;
justify-content: center;

padding-block: 48px;
padding-inline: 24px;
border: 1px dashed var(--ant-color-border-secondary);
border-radius: var(--ant-border-radius-lg);

background: var(--ant-color-fill-quaternary);
}
