.accordionGroup {
margin-inline: -5px;
padding: 4px;
border: 1px dashed var(--ant-color-border-secondary);
border-radius: var(--ant-border-radius);
}

.item {
height: 40px;
padding-inline: 8px;
border-radius: var(--ant-border-radius);
transition: background 0.2s ease-in-out;

&:hover {
  background: var(--ant-color-fill-tertiary);
}
}

.itemDragging {
opacity: 0;
}

.overlay {
height: 40px;
padding-inline: 8px;
border-radius: var(--ant-border-radius);

background: var(--ant-color-bg-elevated);
box-shadow: var(--ant-box-shadow-secondary);
}

.spacerLine {
flex: 1;
block-size: 1px;
background: var(--ant-color-border-secondary);
}

.footer {
display: grid;
grid-template-columns: repeat(2, minmax(0, 1fr));
gap: 8px;
padding-block-start: 16px;
}
