.runningBadge {
pointer-events: none;

position: absolute;
inset-block-end: -3px;
inset-inline-end: -3px;

display: inline-flex;
align-items: center;
justify-content: center;

width: 14px;
height: 14px;
border: 1.5px solid var(--ant-color-bg-container);
border-radius: 999px;

color: var(--ant-color-warning);

background: var(--ant-color-bg-container);
}

.wrapper {
position: relative;
display: inline-flex;
}
