.customRow {
  margin-block-start: 2px;
  padding-inline: 12px;
}

.index {
  flex-shrink: 0;
  box-sizing: border-box;
  width: 22px;
  height: 22px;
  border-radius: 6px;
  font-family: var(--ant-font-family-code);
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  color: var(--ant-color-text-secondary);
  text-align: center;
  background: var(--ant-color-fill-tertiary);
}
