.addCirclePos {
position: absolute;
z-index: 100;
inset-block-end: -2px;
inset-inline-end: -2px;
}

.refGroup {
position: relative;
}

.stack {
position: relative;
padding-block: 4px;
padding-inline: 0;

&:hover {
  .inline-ref-close {
    opacity: 1;
  }
}
}

.swapIcon {
flex-shrink: 0;
color: var(--ant-color-text-quaternary);
}
