.container {
display: flex;
flex-direction: column;
gap: 8px;
}

.empty {
padding-block: 48px;
padding-inline: 0;
}

.signInPrompt {
display: flex;
flex-direction: column;
gap: 16px;
align-items: center;
justify-content: center;

padding: 48px;
}
