.container {
user-select: none;

overflow: hidden;
display: flex;
flex: 1;
flex-direction: column;

padding-block: var(--ant-padding-sm)px 0;
padding-inline: var(--ant-padding-sm)px;
border-inline-end: 1px solid var(--ant-color-border-secondary);
}

.sectionHeader {
padding-block: 6px 4px;
padding-inline: 8px;
color: var(--ant-color-text-secondary);
}
