.container {
display: flex;
flex-direction: row;

height: 500px;
border: 1px solid var(--ant-color-border-secondary);
border-radius: var(--ant-border-radius);
}

.rightColumn {
display: flex;
flex: 1;
flex-direction: column;
}
