.groupLabel {
padding-block: 12px 4px;
padding-inline: 12px;
}

.item {
cursor: pointer;

display: flex;
gap: 12px;
align-items: center;

padding-block: 8px;
padding-inline: 12px;
border-radius: 6px;

transition: background-color 0.2s;

&:hover {
  background: var(--ant-color-fill-tertiary);
}
}

.itemContent {
flex: 1;
min-width: 0;
}

.itemIcon {
display: flex;
flex-shrink: 0;
align-items: center;
justify-content: center;

width: 24px;
height: 24px;
}
