.searchInput {
width: 100%;
padding-block: 6px;
padding-inline: 10px;
border: none;
border-block-end: 1px solid var(--ant-color-border-secondary);

font-family: inherit;
font-size: 13px;
color: var(--ant-color-text);

background: transparent;
outline: none;

&::placeholder {
  color: var(--ant-color-text-placeholder);
}
}
