.addButton {
cursor: pointer;

display: flex;
flex-shrink: 0;
align-items: center;
justify-content: center;

width: 28px;
height: 28px;
border-radius: 6px;

color: var(--ant-color-text-tertiary);

background: transparent;

transition: all 0.2s;

&:hover {
  color: var(--ant-color-text-secondary);
  background: var(--ant-color-fill-tertiary);
}
}

.addButtonDisabled {
cursor: not-allowed;
color: var(--ant-color-text-quaternary);

&:hover {
  color: var(--ant-color-text-quaternary);
  background: transparent;
}
}

.container {
display: flex;
gap: 2px;
align-items: center;
}

.externalTag {
flex-shrink: 0;

padding-block: 1px;
padding-inline: 4px;
border-radius: 4px;

font-size: 10px;
line-height: 1.2;

background: var(--ant-color-fill-secondary);
}

.tab {
cursor: pointer;

display: flex;
flex-shrink: 0;
gap: 6px;
align-items: center;

height: 32px;
padding-block: 6px;
padding-inline: 12px;
border-radius: 8px;

color: var(--ant-color-text-tertiary);

background: transparent;

transition: all 0.2s;

&:hover {
  color: var(--ant-color-text-secondary);
  background: var(--ant-color-fill-tertiary);
}
}

.tabActive {
color: var(--ant-color-text);
background: var(--ant-color-fill-tertiary);

&:hover {
  color: var(--ant-color-text);
  background: var(--ant-color-fill-tertiary);
}
}

.tabTitle {
overflow: hidden;

max-width: 120px;

font-size: 13px;
line-height: 1.2;
text-overflow: ellipsis;
white-space: nowrap;
}
