.container {
user-select: none;
overflow: hidden;
min-width: 32px;

.nav-item-actions {
  width: 0;
  margin-inline-end: 2px;
  opacity: 0;
  transition: opacity 0.2s var(--ant-motion-ease-out);

  &:has([data-popup-open]) {
    width: unset;
    opacity: 1;
  }
}

&:hover {
  .nav-item-actions {
    width: unset;
    opacity: 1;
  }
}
}
