.closeBtn {
flex-shrink: 0;
color: var(--ant-color-text-tertiary);

&:hover {
  color: var(--ant-color-error);
  background: var(--ant-color-error-bg);
}
}

.content {
display: flex;
gap: 6px;
align-items: center;
min-width: 0;
}

.icon {
position: relative;

display: flex;
flex-shrink: 0;
align-items: center;
justify-content: center;

width: 18px;
height: 18px;
border-radius: 4px;

line-height: 0;

img,
video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  object-fit: cover;
}
}

.name {
overflow: hidden;
flex: 1;

min-width: 0;

line-height: 18px;
text-overflow: ellipsis;
white-space: nowrap;
}

.progress {
position: absolute;
inset: -3px;

display: flex;
align-items: center;
justify-content: center;

border-radius: 4px;

background: var(--ant-color-bg-mask);
}
