.codeWrapper {
position: relative;
overflow-x: auto;
margin-block-start: 16px;
padding-block-end: calc(100cqb - 1lh);

pre {
  margin: 0;
}

code {
  counter-reset: line;
}

.line {
  width: 100% !important;
  margin-inline: 0 !important;
  padding-inline: 0 !important;
}

.line::before {
  content: counter(line);
  counter-increment: line;
  user-select: none;

  display: inline-block;

  width: 4ch;
  margin-inline-end: 2ch;

  color: var(--ant-color-text-quaternary);
  text-align: end;
}
}

.docWrapper {
max-width: 798px;
margin-inline: auto;
padding-block: 8px;
padding-inline: 24px;
}
