.active {
border-color: var(--ant-color-primary);
box-shadow: 0 0 0 2px var(--ant-color-primary-bg-hover);
}

.itemBtn {
cursor: pointer;

box-sizing: content-box;
padding: 0;
border: 1.5px solid transparent;
border-radius: 8px;

opacity: 0.65;
background: transparent;

transition:
  opacity 0.15s,
  border-color 0.15s,
  box-shadow 0.15s;

&:hover {
  opacity: 1;
}
}

.more {
display: flex;
align-items: center;
justify-content: center;

width: 30px;
height: 30px;
border: 1.5px solid transparent;
border-radius: 8px;

color: var(--ant-color-text-secondary);

background: var(--ant-color-fill-tertiary);

&:hover {
  color: var(--ant-color-text);
  background: var(--ant-color-fill-secondary);
}
}

.popover {
padding: 0;
}

.popoverContent {
width: 240px;
padding: 8px;
}

.popoverEmpty {
padding-block: 16px;
padding-inline: 8px;
color: var(--ant-color-text-tertiary);
text-align: center;
}

.popoverList {
overflow: auto;
max-height: 240px;
}

.popoverRow {
cursor: pointer;

display: flex;
gap: 8px;
align-items: center;

padding-block: 6px;
padding-inline: 8px;
border-radius: 6px;

color: var(--ant-color-text);

&:hover {
  background: var(--ant-color-fill-secondary);
}
}
