.card {
cursor: pointer;

position: relative;

overflow: hidden;

padding: 12px;
border: 1px solid var(--ant-color-border-secondary);
border-radius: var(--ant-border-radius-lg);

background: var(--ant-color-bg-container);

transition: all var(--ant-motion-duration-mid);

&:hover {
  border-color: var(--ant-color-primary);
  box-shadow: var(--ant-box-shadow-tertiary);
}
}

.desc {
margin: 0 !important;
font-size: 12px;
line-height: 1.4;
color: var(--ant-color-text-description);
}

.title {
margin: 0 !important;
font-size: 14px;
font-weight: 500;
line-height: 1.4;
}
