.container {
cursor: pointer;

padding-block: 2px;
padding-inline: 4px 8px;
border-radius: 4px;

color: var(--ant-color-text-secondary);

:hover {
  color: var(--ant-color-text);
  background: var(--ant-color-fill-tertiary);
}
}

.title {
overflow: hidden;
display: block;

line-height: 20px;
color: inherit;
text-overflow: ellipsis;
white-space: nowrap;
}
