.author {
color: var(--ant-color-text-description);
}

.desc {
flex: 1;
  margin: 0 !important;
  color: var(--ant-color-text-secondary);
}

.footer {
margin-block-start: 16px;
  border-block-start: 1px dashed var(--ant-color-border);
  background: var(--ant-color-bg-container);
}

.secondaryDesc {
font-size: 12px;
  color: var(--ant-color-text-description);
}

.title {
margin: 0 !important;
  font-size: 16px !important;
  font-weight: 500 !important;

  &:hover {
    color: var(--ant-color-link);
  }
}
