.item {
display: flex;
gap: 12px;
align-items: center;

padding-block: 12px;
padding-inline: 16px;
border-radius: var(--ant-border-radius);

&:hover {
  background: var(--ant-color-fill-tertiary);
}

.ant-skeleton-header {
  padding: 0;
}
}

.paragraph {
margin-block: 8px 0 !important;

> li {
  height: 12px !important;
}
}

.title {
height: 16px !important;
margin-block-end: 0 !important;

> li {
  height: 16px !important;
}
}
