.codeBlock {
display: flex;
gap: 12px;
align-items: center;

padding-block: 12px;
padding-inline: 16px;
border: 1px solid var(--ant-color-border-secondary);
border-radius: var(--ant-border-radius);

background: var(--ant-color-fill-quaternary);
}

.command {
overflow: hidden;
flex: 1;

font-family: var(--ant-font-family-code);
font-size: var(--ant-font-size-sm);
color: var(--ant-color-text);
text-overflow: ellipsis;
white-space: nowrap;
}

.footer {
margin-block-start: 4px;
padding-block-start: 16px;
border-block-start: 1px solid var(--ant-color-border-secondary);
}

.index {
display: flex;
flex-shrink: 0;
align-items: center;
justify-content: center;

width: 24px;
height: 24px;
border-radius: 50%;

font-size: var(--ant-font-size-sm);
font-weight: 600;
color: var(--ant-color-primary);

background: var(--ant-color-primary-bg);
}

.line {
flex: 1;
width: 1px;
margin-block-start: 4px;
background: var(--ant-color-border-secondary);
}
