.editorContent :global(.lobe-editor-table-scroll-wrapper.lobe-editor-table-scroll-wrapper) {
  --lobe-block-anchor-padding: var(--lobe-pageeditor-table-bleed-inline);

  position: relative;
  box-sizing: border-box;
  width: 100cqi;
  margin-inline: calc(var(--lobe-pageeditor-table-bleed-inline) * -1);
}

.editorContent :global(.lobe-editor-table-scroll-wrapper .editor_table) {
  width: max-content;
}
