.footer {
padding: 4px;
border-block-start: 1px solid var(--ant-color-border-secondary);
}

.header {
padding-block: 8px;
padding-inline: 8px;
border-block-end: 1px solid var(--ant-color-fill);
background: transparent;
}

.scroller {
overflow: hidden auto;
}

.trailingIcon {
opacity: 0.5;
}
